@model AWA_Quiz.Models.QuizViewModel

@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Add question</h4>

<p>Add question details below</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "")

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QuestionDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerText, new { htmlAttributes = new { @class = "form-control" } })
                <p>Check the box if the answer is correct</p>
                @Html.RadioButtonFor(model => model.IsCorrect, new { })
                @Html.ValidationMessageFor(model => model.AnswerText, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @using (Html.BeginForm("", "", FormMethod.Post))
            {
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add another answer" class="btn btn-default" />
                </div>
            }
        </div>
        
    </div>
}
<div class="form-group">
    @using (Html.BeginForm("AddQuestion", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save and add another question" class="btn btn-default" />
        </div>
    }
</div>

<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save and finish" class="btn btn-default" />
        </div>
    }
</div>

<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cancel" class="btn btn-default" />
        </div>
    }
</div>