@model AWA_Quiz.Models.QuizViewModel

@{
    ViewBag.Title = "DeleteTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Delete test</h4>

<p>Choose test or question to delete</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "")

       
        <div class="form-group">
            @Html.LabelFor(model => model.QuizTitle, "QuizTitle", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuizTitle", null, htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.QuizTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        
    </div>
}

<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>


<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cancel" class="btn btn-default" />
        </div>
    }
</div>