@model AWA_Quiz.Models.QuizViewModel

@{
    ViewBag.Title = "EditTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p>Choose test or question to edit</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "")

        <div class="list-group text-left">
            @foreach (var test in testList)
            {
                <a href="#" class="list-group-item select"><b>@test</b></a>
            }
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QuizTitle, "QuizTitle", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                @Html.ValidationMessageFor(model => model.QuizTitle, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
}
<div class="form-group">
    @using (Html.BeginForm("AddQuestion", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Choose" class="btn btn-default" />
        </div>
    }
</div>

<div class="form-group">
    @using (Html.BeginForm("Index", "Quiz", FormMethod.Post))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cancel" class="btn btn-default" />
        </div>
    }
</div>
