@model AWA_Quiz.Models.QuizViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h3>Home</h3>
    <p class="lead">Welcome to your own personal homepage!</p>
</div>

@*Another message if teacher or admin log in*@
<p>Here you can take tests, fill in reviews or see your own statistics. </p>

<p>Choose how to proceed by clicking one of the buttons below</p>

<div>
    <h4>Test modifications</h4>
    <td>
        @Html.ActionLink("Add Test", "AddTest", "Quiz", new { @class = "btn btn-default" })
        @Html.ActionLink("Delete Test", "DeleteTest", "Quiz", new { @class = "btn btn-default" })
        @Html.ActionLink("Edit Test", "EditTest", "Quiz", new { @class = "btn btn-default" })
    </td>
    <td>
        <h4>Do tests or see statistics</h4>
        @Html.ActionLink("Start Quiz", "StartTest", "Quiz", new { @class = "btn btn-default" })
        @Html.ActionLink("View Statistics", "ViewHistory", "Quiz", new { @class = "btn btn-default" })
    </td>
    <td>
        <h4>Fill in reviews</h4>
        @Html.ActionLink("Start review", "StartReview", "Review", new { @class = "btn btn-default" })
    </td>
    <td>
    <h4>User modifications</h4>
    @Html.ActionLink("Edit User", "AddUser", "User", new { @class = "btn btn-default" })

    </td>
</div>

<p>Area for tests and reviews not taken?</p>
<br/>
<p>Area for the statistics?</p>

